<!--
=========================================================
* Argon Dashboard 2 PRO - v2.0.5
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard-pro
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include ('../partials/header.ejs')%>

    <body class="g-sidenav-show bg-gray-100">
        <div class="position-absolute w-100 min-height-300 top-0"
            style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
            <span class="mask bg-primary opacity-6"></span>
        </div>

        <!-- Sidebar -->
        <%- include ('../partials/sidebar.ejs')%>

            <div class="main-content position-relative max-height-vh-100 h-100">
                <!-- Navbar -->
                <%- include ('../partials/navbar.ejs')%>
                    <!-- Main -->
                    <main>
                        <div class="card shadow-lg mx-4 card-profile-bottom">
                            <%- body %>
                                <!-- Footer -->
                                <%- include ('../partials/footer.ejs')%>
                        </div>
                    </main>
            </div>
            <!-- Script -->


    </body>

</html>